.service {
    height: 42vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .service_thumbnail {
    width: 100%;
    flex: 1.5;
    margin: 0;
  }
  
  .service_image {
    margin: 0;
    height: 30vh;
    width: 23vw;
    border-radius: 2vh;
  }
  
  .service_instructor {
    margin: 0;
    color:  #914EC2;
  }
  
  .service_name {
    margin: 0;
    
    color: #303433;
    font-size: 1.3rem;
  }
  
  .service_info {
    width: 80%;
    flex: 1;
    display: flex;
    justify-content: center;
  }
  
  .service_info_cont1 {
    margin-top: 1vh;
    flex: 2.5;
  }
  
  .service_info_cont2 {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .service_info_cont2 h5 {
    margin: 0;
    font-weight: lighter;
  }
  
  /* for mobile css */
  
  @media (max-width: 700px) {
    .service {
      flex: 1;
      width: 96%;
    }
  
    .service_thumbnail {
      flex: 1.7;
    }
  
    .service_image {
      width: 90%;
    }
  
    .service_info_cont2 {
      margin-top: -2vh;
    }
  }
 
  
  .more_info {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    padding:10px 2vw ;
  }
  
  .service_detail {
    display: flex;
    align-items: center; 
    justify-content: center;/* Center aligns both text and star */
  }
  
  .detail_label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  .rating_value {
    display: flex;
    align-items: center;
    gap: 3px;
  }
  
  .star_icon {
    color:  #914EC2;/* Same color as the description */
    font-size: 1.2em; /* Increase size of the star */
    vertical-align: middle; /* Aligns star vertically in the middle */
    margin-left: 3px;
  }
  
  